* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', arial, sans-serif;
}

body {
    background-color: #fff;
}


/***Header****/

header {
    background-color: #eaf0ff;
    text-align: center;
    display: grid;
    padding: 0% 8%;
}

header>p {
    padding: 17px 0px;
    padding-top: 16PX;
    font-size: 44px;
    font-family: 'Spectral', serif;
    border-bottom: 1px solid #d8deed;
    font-weight: 400;
    color: rgb(44, 52, 59);
    font-style: italic;
}

div.horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    padding: 1.5vh 0px;
}

.horizon a {
    text-decoration: none;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 5px;
    color: rgb(54, 54, 54);
    font-size: 13px;
    line-height: 50px;
}

div.toggle-button {
    background-color: rgb(247, 110, 86);
    padding: 4px 12px;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: none;
}

.toggle-button span {
    height: 2px;
    width: 22px;
    margin: 5px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: block;
}


/***Header responsive***/

@media only screen and (max-width: 992px) {
    div.horizon {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0px 0%;
    }
    div.toggle-button {
        display: block;
        margin: 3vh 0px;
    }
    div.horizon {
        display: none;
    }
    div.horizon a {
        border-bottom: 1px solid #d8deed;
        width: 100%;
        padding: 2.5vh;
    }
    #nav-bar {
        background-color: rgba(250, 250, 250, 0.5);
    }
    div.display {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 0%;
    }
}


/**Header end**/

.banner_section {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    /** padding: 45px 65px;**/
    background-image: url(./images/bannerimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    max-width: 100%;
}

.banner_section p {
    color: #fff;
    font-size: 14px;
    padding: 0 0 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 40%;
    margin: auto;
}

.banner_section h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Spectral', serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}


/***Contact Section **/

.contact_section {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-left: 150px;
    padding-right: 150px;
}

.left_contact_form {
    width: 50%;
}

.right_contact-info {
    width: 50%;
}

.left_contact_form {
    display: flex;
    flex-direction: row;
}

.contact_left_details {
    display: block;
    padding: 6px 12px;
    width: 50%;
    padding: 20px;
}

.contact_right_details {
    display: block;
    padding: 6px 12px;
    width: 50%;
    padding: 20px;
}

.contact_msg_head h2 {
    margin-bottom: 60px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #121212;
}

.contact_input_left>input {
    display: block;
    border-radius: 3px;
    padding-left: 15px;
    font-size: 13px;
    width: 100%;
    color: #4a4a4a;
    line-height: 44px;
    height: 44px;
    background-color: #f4f4f4;
    border: none;
    margin-bottom: 30px;
}

.contact_right_details>textarea {
    border-radius: 3px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 13px;
    width: 100%;
    color: #4a4a4a;
    line-height: 44px;
    height: 122px;
    max-height: 220px;
    background-color: #f4f4f4;
    border: none;
    margin-bottom: 25px;
    margin-top: 85px;
    outline: none;
}

#contact_submit {
    display: inline-block;
    background-color: #f2745f;
    color: #fff!important;
    font-size: 13px;
    font-weight: bolder;
    padding: 12px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    width: 100%;
    border: none;
    letter-spacing: 0.5;
}

.contact_info_head h2 {
    text-align: left;
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #121212;
}

.contact_text p {
    margin-top: -5px;
    color: #9a9a9a;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Roboto', arial, sans-serif;
    margin: 0 0 10px;
}

.cont_address h6 {
    font-style: normal;
    font-weight: bold;
    color: #aaa;
}


/***Contact end **/


/**Map Section**/

.map_section {
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
}

.mapping_div {
    margin-right: 50px;
    margin-left: 50px;
}


/**End map section**/

@media screen and (max-width: 768px) {
    /*Footer container*/
    /*//////*/
    footer {
        margin: 0px 0px;
        background-color: #363e50;
    }
    #footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #363e50;
        margin: auto;
    }
    .copyright-box {
        position: relative;
        width: 100%;
        padding: 5px 20px;
        text-align: center;
        color: white;
        align-items: center;
    }
    .copyright-box h4 {
        padding-top: 25px;
        margin: auto;
        font-weight: 400;
    }
    .icon-box {
        width: 100%;
        display: flex;
        padding: 5px 24px;
        justify-content: center;
    }
    .icon-box ul {
        position: relative;
        list-style: none;
        display: flex;
        position: relative;
        margin: auto;
        justify-content: center;
        padding: 5px 15px;
    }
    .icon-box li {
        width: 100%;
        list-style: none;
        padding: 8px 12px;
        color: gray;
        background-color: #ffff;
        border-radius: 100%;
        margin: 4px;
    }
    .icon-box li:hover {
        background-color: #F2745F;
        transition: 0.38s;
        list-style: none;
        padding: 8px 12px;
        color: gray;
        border-radius: 100%;
        margin: 4px;
    }
    .para-box {
        width: 100%;
        padding: 5px 40px;
        color: white;
        align-items: center;
        font-weight: 400;
        text-align: center;
    }
    .para-box p {
        padding-top: 25px;
    }
}


/******/

@media screen and (max-width: 768px) {
    /***Contact Section **/
    .contact_section {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .left_contact_form {
        width: 100%;
    }
    .right_contact-info {
        width: 100%;
    }
    .left_contact_form {
        display: flex;
        flex-direction: column;
    }
    .contact_left_details {
        display: block;
        padding: 6px 12px;
        width: 100%;
        padding: 20px;
    }
    .contact_right_details {
        display: block;
        padding: 6px 12px;
        width: 100%;
        padding: 20px;
    }
    .contact_msg_head h2 {
        margin-bottom: 60px;
        text-align: left;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #121212;
    }
    .contact_input_left>input {
        display: block;
        border-radius: 3px;
        padding-left: 15px;
        font-size: 13px;
        width: 100%;
        color: #4a4a4a;
        line-height: 44px;
        height: 44px;
        background-color: #f4f4f4;
        border: none;
        margin-bottom: 30px;
    }
    .contact_right_details>textarea {
        border-radius: 3px;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 13px;
        width: 100%;
        color: #4a4a4a;
        line-height: 44px;
        height: 122px;
        max-height: 220px;
        background-color: #f4f4f4;
        border: none;
        margin-bottom: 25px;
        margin-top: 20px;
        outline: none;
    }
    #contact_submit {
        display: inline-block;
        background-color: #f2745f;
        color: #fff!important;
        font-size: 13px;
        font-weight: 500;
        padding: 12px 20px;
        text-transform: uppercase;
        border-radius: 3px;
        text-decoration: none;
        width: 100%;
        border: none;
        letter-spacing: 0.5;
    }
    .contact_info_head h2 {
        text-align: left;
        margin-bottom: 60px;
        margin-top: 20px;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #121212;
    }
    .contact_text p {
        color: #0e0d0d;
        font-size: 13px;
        line-height: 24px;
        font-family: 'Roboto', arial, sans-serif;
        margin: 0 0 10px;
    }
    .cont_address h4 {
        font-style: normal;
        color: rgb(15, 15, 15);
    }
    /***Contact end **/
    /**Map Section**/
    .map_section {
        margin: auto;
        text-align: center;
        margin-bottom: 150px;
    }
    .mapping_div {
        margin-right: 20px;
        margin-left: 20px;
    }
    /**End map section**/
}


/******/


/***Main Section***/

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #f2745f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 50px;
}

.price {
    position: relative;
    bottom: 40px;
    left: 102px;
    width: 80px;
    height: 40px;
    color: #f2745f;
    background-color: rgba(250, 250, 250, 0.9);
    font-size: 17px;
    text-align: center;
    padding: 6px;
}

.section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 970px;
    background-color: #f2f2f2;
}

.section1>div {
    background-color: #f2f2f2;
    width: 50%;
    height: auto;
}

.left_section1>img {
    width: 100%;
    vertical-align: middle;
}

.elements1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
}

.elements1>div {
    background-color: white;
    width: 182px;
    margin: 10px;
    text-align: left;
}

.tbl1 {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.tbl1 div h1 {
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 8px;
    font-size: 28px;
    width: 95%;
    font-weight: 500;
    line-height: 1.1;
    border-bottom: 1px solid #d9dde5;
    font-family: 'Spectral', serif;
}

.ele1 {
    background-color: white;
    width: 100%;
}

.ele1 div img {
    width: 182px;
    height: 105px;
}

.text_sect {
    background-color: white;
    text-align: left;
    padding-left: 15px;
}

.text_sect>h4 {
    font-size: 18px;
    color: #121212;
    line-height: 1.1;
    font-weight: 500;
    font-family: 'Spectral', serif;
}

.text_sect>p {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 24px;
    color: #9a9a9a;
    font-size: 13px;
    font-family: 'Roboto', arial, sans-serif;
}


/***Main ends***/


/*///Footer ///*/

#footer-container {
    display: flex;
    justify-content: center;
    background-color: #363e50;
    margin: auto;
}

.copyright-box {
    position: relative;
    width: 30%;
    padding: 25px 40px;
    text-align: center;
    color: white;
    align-items: center;
    font-weight: 400;
}

.copyright-box h4 {
    padding-top: 40px;
    font-size: 13px;
}

.icon-box {
    width: 30%;
    display: flex;
    padding: 25px 24px;
    justify-content: center;
}

.icon-box ul {
    position: relative;
    list-style: none;
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    padding: 25px 15px;
}

.icon-box li {
    list-style: none;
    padding: 8px 12px;
    color: #363e50;
    background-color: #ffff;
    border-radius: 100%;
    margin: 4px;
}

.icon-box li:hover {
    background-color: #F2745F;
    transition: 0.38s;
    list-style: none;
    padding: 9px 13px;
    color: #363e50;
    border-radius: 100%;
    margin: 4px;
}

.para-box {
    width: 30%;
    padding: 25px 40px;
    color: white;
    align-items: center;
    font-weight: 400;
    text-align: center;
}

.para-box p {
    padding-top: 40px;
    font-size: 13px;
}


/**Footer Ends**/